#contenedor
{
	background-color: hsla(0, 0%, 20%, 0.7);
	margin-left: 15%;
	margin-right: 15%;
}
#contenedor h1{
	font-family: "motion";
	font-size: 300%;
	color: white;
}

#contenedor2
{
	max-height: 400px;
	overflow: auto;
}
